@import 'tailwindcss';

@theme {
  --font-mono: 'IBM Plex Mono', ui-monospace, monospace;
  --font-ubuntu: 'Ubuntu', ui-sans-serif, system-ui, sans-serif;

  --color-brand-primary: #12f7d6;
  --color-brand-secondary: #98faec;
  --color-bg-dark: #292f36;
  --color-bg-darker: #1a1e23;
  --color-grey: #43454d;
  --color-html: #e54f26;
  --color-css: #0c73b8;
  --color-js: #e7a020;
  --color-react: #28a9e0;

  --spacing-header-height: 80px;
  --spacing-footer-height-mobile: 132px;
  --spacing-footer-height-desktop: 90px;
}

html,
body {
  @apply bg-bg-dark text-white;
  font-family: var(--font-ubuntu);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
